$background-color-light             : #F7F6F5;
$background-color-dark              : #262626;
$background-color-dark-2            : #404040;
$full-dark                          : #000000;
$full-white                         : #FFFFFF;
$primary-color                      : #343131;
$primary-color-2                    : #D1D1D1;
$green-bg                           : #ECF1CF;
$green-bg-2                         : #D2E7E0;
$green-bg-3                         : #0EB9B3;
$error-color                        : #DB1F21;
$shadow                             : 0px 6px 15px 0px rgba(0, 0, 0, 0.05);
$shadow-2                           : 0px 1px 3px 0px rgba(0, 0, 0, 0.03);




